# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore npm's lock files
yarn.lock

# Ignore environment-specific files
.env

# Ignore built files and directories
dist/
build/
out/
